.logo {
    height: auto;
    width: auto;
    max-width: 130px;
    max-height: 130px;
}

.leftside {
    margin-right: 16;
    margin-left: -12;
}

.rightside {
    margin-left: auto;
    margin-right: -12;
}
