.logo {
    height: auto;
    width: auto;
    max-width: 130px;
    max-height: 130px;
}

.nav-container {
    padding-left: calc(0.5 * (100% - 1280px));
    padding-right: calc(0.5 * (100% - 1280px));
    background: #fff !important;
    box-shadow: none !important;
}

@media only screen and (max-width: 1280px) {
    .nav-container {
        width: 100%;
    }
}

.nav-items-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no-text-decoration {
    text-decoration: none;
}
